<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}{//标题}{/block}</title>
    <script src="__JQ__/jquery-3.3.1.min.js"></script>
    <link rel="shortcut icon" href="__STATIC__/x-admin/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/x-admin/css/font.css">
    <link rel="stylesheet" href="__STATIC__/x-admin/css/xadmin.css">
    <script src="__STATIC__/x-admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/x-admin/js/xadmin.js"></script>

    {block name="static"}{//资源}{/block}
</head>
<body>
{block name="body"}{//内容}{/block}
</body>
</html>