<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}{//标题}{/block}</title>
    <script src="__JQ__/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="__BOOT__/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="__BOOT__/css/bootstrap-grid.css">
    <link rel="stylesheet" href="__BOOT__/css/bootstrap.css">
    <link rel="stylesheet" href="__STATIC__/font-awesome-4.7.0/css/font-awesome.css">    <link rel="stylesheet" href="__CSS__/main.css">
    <script src="__BOOT__/js/bootstrap.bundle.js"></script>
    <script src="__BOOT__/js/popper.min.js"></script>
    <script src="__BOOT__/js/bootstrap.js"></script>
    <script src="__BOOT__/layer.js"></script>
    <script src="__JQ__/main.js"></script>
    {block name="static"}{//资源}{/block}
</head>
<body>
{block name="body"}{//内容}{/block}
</body>
</html>