{extend name="bases" /}

{block name="title"}未发货订单{/block}

{block name="static"}
{/block}

{block name="body"}
<ul class="breadcrumb small">
    <li class="breadcrumb-item active">首页</li>
    <li class="breadcrumb-item active">货到付款订单管理</li>
    <li class="breadcrumb-item active">未发货</li>
</ul>
<div class="container-fluid">
    <div class="col-12 d-inline-flex justify-content-between border-bottom p-1">
        <strong>未发货订单:</strong>
        <button class="btn-sm btn btn-success"  onclick="window.location.reload()"><i class="fa fa-refresh"></i></button>
    </div>
    <div class="col-12 table-responsive mt-2">
        <table class="table table-bordered table-nowrap text-center">
            <thead>
            <tr>
                <th>序号</th>
                <th>订单号</th>
                <th>买家</th>
                <th>商品信息</th>
                <th>金额</th>
                <th>下单时间</th>
                <th>收货信息</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {if count($data) == 0 || !$data}
            <tr>
                <td colspan="9">还没有相关订单</td>
            </tr>
            {else}
            {volist name="data" id="data" $key}
            <tr id="Tr{$key}">
                <td>{$key+1}</td>
                <td>{$data.order_number}</td>
                <td>{$data.user_id}</td>
                <td>{$data.books_id.$data.books_sum}</td>
                <td class="text-danger">￥ {$data.money}</td>
                <td>{:date('Y-m-d H:i:s',$data.create_time)}</td>
                <td>
                    <a href="#" data-toggle="popover" data-placement="top"
                       data-trigger="focus" data-content="{$data.address}">
                        {:mb_substr($data.address,0,8,'utf-8').'...'}
                    </a>
                </td>
                <td>
                    <a href="#" data-toggle="popover" data-placement="top"
                       data-trigger="focus" data-content="{$data.msg}">
                    {$data.msg==''?'无备注':mb_substr($data.msg,0,8,'utf-8').'...'}
                    </a>
                </td>
                <td>
                    <button onclick="Deliver({$data.Id},'{$data.order_number}',{$key})" class="btn btn-sm btn-success">
                        发货
                    </button>
                </td>
            </tr>
            {/volist}
            {/if}
            </tbody>
        </table>
        <div class="col-12 d-inline-flex justify-content-center mt-2">
            {$page|raw}
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
    function Deliver(id,order_number,key) {
        layer.prompt({title: '填写运单号', formType: 3}, function(express, index){
            layer.close(index);
            $.get('{:url("index/Order/Deliver")}',{
                id,
                express,
                order_number
            },function (res) {
                if(res.state == 400)
                {
                    layer.msg(res.msg,{icon:5,time:2000});
                    return;
                }
                if(res.state == 200)
                {
                    layer.msg(res.msg,{icon:0,time:2000},function () {
                        $("#Tr"+key).remove();
                    });
                    return;
                }
            },'json');
        });
    }
</script>
{/block}