{extend name="bases" /}

{block name="title"}主页{/block}

{block name="static"}

{/block}

{block name="body"}
<ul class="breadcrumb small">
    <li class="breadcrumb-item active">首页</li>
    <li class="breadcrumb-item active">页面元素</li>
    <li class="breadcrumb-item active">图库</li>
</ul>
<div class="container-fluid">
    <div class="col-12 d-inline-flex justify-content-between border-bottom p-1">
        <div class="d-inline-flex justify-content-start">
            <button class="ml-1 btn-sm btn-success btn" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-plus"></i>&nbsp;添加新图
            </button>
            <button class="ml-1 btn-sm btn-danger btn" onclick="Clear()">
                <i class="fa fa-trash"></i>&nbsp;清理失效记录
            </button>
        </div>
        <button class="btn-sm btn btn-success"  onclick="window.location.reload()"><i class="fa fa-refresh"></i></button>
    </div>
</div>
<div class="col-12 table-responsive mt-2">
    <table class="table table-bordered table-nowrap text-center">
        <thead>
            <tr>
                <th>序号</th>
                <th>上传时间</th>
                <th>上传者</th>
                <th>预览</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {if count($data) == 0}
        <tr>
            <td colspan="6">还没有上传任何图片</td>
        </tr>
        {else}
        {volist name="data" id="data" $key}
            <tr>
                <td>{$key+1}</td>
                <td>{:date('y-m-d h:i:s',$data.createtime)}</td>
                <td>{$data.creator}</td>
                <td>
                    <button class="btn-success btn-sm btn" onclick="x_admin_show('预览图片','{$data.file_path}')">
                        <i class="fa fa-photo"></i>
                    </button>
                </td>
                <td>
                    <input id="name{$key+1}" class="input-group-sm text-center" type="text"
                           value="{$data.name}" onchange="editName('name{$key+1}',{$data.Id})">
                </td>
                <td>
                    <button class="ml-1 btn-sm btn-danger btn"
                    onclick="DelImage({$data.Id})">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        {/volist}
        {/if}
        </tbody>
    </table>
    <div class="col-12 d-inline-flex justify-content-center mt-2">
        {$page|raw}
    </div>
</div>


<!-- 附件处 -->
<div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">上传新图</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="window.location.reload()">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 d-block flex-column p-3">
                        <div class="form-group">
                            <label for="Files">选择文件(支持多文件):</label>
                            <input type="file" multiple="multiple"  class="form-control" id="Files">
                        </div>
                        <div class="form-group">
                            <label for="name">备注(可选):</label>
                            <input type="text"  class="form-control" id="name">
                        </div>
                        <input type="button" class="btn btn-success" value="确定"
                               onclick="UploadPicture()"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function UploadPicture() {
    var file = $("#Files")[0].files;
    var name = $("#name").val().trim()==""?'无':$("#name").val().trim();
    if(name != "" && name.length > 10)
    {
        layer.msg('备注最长支持10个字符',{icon:0,time:3000});
        return;
    }
    if(file.length < 1)
    {
        layer.msg('至少选择一个图片文件',{icon:0,time:2000});
        return false;
    }
    if(file.length >20 )
    {
        layer.msg('太多啦,选择20个以内',{icon:0,time:2000});
        return false;
    }
    layer.msg('正在上传...',{icon:6,time:5000});
    var fileAry = new FormData();
    for(var i =0;i<file.length;i++)
    {
        fileAry.append('file[]',file[i]);
    }
    $.ajax({
        url:'{:url("index/PageManagement/UploadPicture")}?name='+name,
        type: "POST",
        data: fileAry,
        contentType: false,
        processData: false,
        success:function (data) {
            try{
                data = JSON.parse(data);
                if(data.state==200)
                {
                    layer.msg(data.msg+'共上传'+data.count+'个,成功'+data.yes+'个,失败'+data.no+'个',
                        {icon:1,time:3000},function () {
                            document.getElementById("Files").value='';
                            return;
                        });
                }
                if(data.state==400)
                {
                    layer.msg(data.msg,{icon:0,time:2000});
                    return;
                }
            }catch (e) {
                layer.msg('网络异常,稍后再试',{icon:0,time:2000});
                return;
            }
        },error:function (data) {
            layer.msg('网络异常,稍后再试',{icon:0,time:2000});
            return;
        }
    })
}
function DelImage(id) {
    layer.confirm('确定删除该记录与文件？', {
        btn: ['确定','取消'] //按钮
    }, function(){
        $.ajax({
            url:'{:url("index/PageManagement/DelImage")}',
            type:'post',
            dataType:'json',
            data:{
                id
            },success:function (data) {
                try{
                    if(data.state == 200){
                        layer.msg(data.msg,{icon:1,time:2000},function () {
                            window.location.reload()
                        });
                        return
                    }
                    if(data.state == 400){
                        layer.msg(data.msg,{icon:0,time:2000});
                        return
                    }
                }catch (e) {
                    layer.msg('网络错误,稍后再试',{icon:0,time:2000});
                    return
                }
            },error:function (data) {
                layer.msg('网络错误稍后再试',{icon:0,time:2000});
                return;
            }
        })
    }, function(){
        layer.msg('已取消', {
            time: 2000, //2s后自动关闭
        });
        return false;
    });
}
function Clear() {
    layer.confirm('确定清除所有失效文件的记录,耗时可能较长？', {
        btn: ['确定','取消'] //按钮
    },function () {
        $.ajax({
            url:'{:url("index/PageManagement/DelImages")}',
            type:'get',
            dataType:'json',
            success:function (data) {
                try{
                    if(data.state == 200){
                        layer.msg(data.msg,{icon:1,time:2000},function () {
                            window.location.reload()
                        });
                        return
                    }
                    if(data.state == 400){
                        layer.msg(data.msg,{icon:0,time:2000});
                        return
                    }
                }catch (e) {
                    layer.msg('网络错误,稍后再试',{icon:0,time:2000});
                    return
                }
            },error:function (data) {
                layer.msg('网络错误稍后再试',{icon:0,time:2000});
                return;
            }
        });
    },function () {

    });
}
function editName(id,Id) {
    var IdName = '#'+id;
    var name = $(IdName).val().trim()==""?"无":$(IdName).val().trim();
    $.ajax({
        url:'{:url("index/PageManagement/editName")}',
        type:'post',
        data:{
            name,Id
        },error:function () {
            layer.msg('修改失败,稍后再试',function () {
                window.location.reload();
                return;
            })
        }
    })
}
</script>
{/block}