{extend name="bases" /}

{block name="title"}主页{/block}

{block name="static"}

{/block}

{block name="body"}
<ul class="breadcrumb small">
    <li class="breadcrumb-item active">首页</li>
    <li class="breadcrumb-item active">页面元素</li>
    <li class="breadcrumb-item active">首页管理</li>
</ul>
<div class="container-fluid">
    <div class="col-12 d-inline-flex justify-content-between border-bottom p-1">
        <div class="d-inline-flex justify-content-start">
            <button class="btn-success btn-sm btn" onclick="AddBroadcast()">
                <i class="fa fa-plus"></i>&nbsp;设置轮播图
            </button>
        </div>
        <button class="btn-sm btn btn-success"  onclick="window.location.reload()"><i class="fa fa-refresh"></i></button>
    </div>
</div>
<div class="col-12 table-responsive mt-2">
    <div class="d-inline-flex">
        <label for="BroadcastTable">轮播图列表:&nbsp;</label>
    </div>
    <table id="BroadcastTable" class="table table-bordered table-nowrap text-center">
        <thead>
        <tr>
            <th>顺序</th>
            <th>修改者</th>
            <th>备注</th>
            <th>查看</th>
            <th>状态</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {if count($Broadcast)==0}
        <tr>
            <td colspan="7">还没有设置轮播图</td>
        </tr>
        {else}
            {volist name="Broadcast" id="Broadcast" $key}
                <tr>
                    <td>
                        {if $Broadcast.sort == 0}
                        {:$key+1}
                        {else}
                        $Broadcast.sort
                        {/if}
                    </td>
                    <td>{:widget('WidgetData/getAdminName',['user_id'=>$Broadcast.admin_user])}</td>
                    <td>
                        <input id="name{$key+1}" class="input-group-sm text-center" type="text"
                               value="{$Broadcast.name}" onchange="editName('name{$key+1}',{$Broadcast.Id})">
                    </td>
                    <td>
                        <button class="btn-success btn-sm btn" onclick="x_admin_show('预览图片','{$Broadcast.url}')">
                            <i class="fa fa-photo"></i>
                        </button>
                    </td>
                    <td>{$Broadcast.state}</td>
                    <td>{:date('Y-m-d',$Broadcast.create_time)}</td>
                    <td><button class="ml-1 btn-sm btn-danger btn"
                                onclick="DelImage()">
                        <i class="fa fa-trash"></i>
                    </button></td>
                </tr>
            {/volist}
        {/if}
        </tbody>
    </table>
</div>


<script>
    function AddBroadcast() {
        layer.confirm('确定已在商城预览中完成地址设置？', {
            btn: ['确定','还没有'] //按钮
        }, function(){
            x_admin_show('选择轮播图','{:url("index/PageManagement/SelectBroadcast")}');
            layer.msg('从图库选择轮播图');
        }, function(){
            layer.msg('请前往商城预览选项卡设置地址', {
                time: 2000, //2s后自动关闭
            });
            return false;
        });
    }
</script>
{/block}